body {
    margin: 0;
    padding: 0;
    border: 0;
}

.nav {
    width: 100%;
    height: auto;
    background: #01182a;
        position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav-bar {
    font-size: large;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    margin: 0 15%;
    padding: 27px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    z-index: 9999;
}

.nav-logo {
    margin-right: auto;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    margin-left: 2em;
    font-family:;
}

.nav-bar a:hover {
    color: yellow;
    text-decoration: underline;
}

.photo-slider {
    background-image: url(img/Slider1.jpg);
    height: 800px;
}

.photo-slider-content {
    max-width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    color: #4ea8de;
    padding: 2em 5em;
    margin-top: 107px;
}

.photo-slider-content hr {
    width: 15%;
    margin-left: 0;
    border: 3px solid black;
}

.photo-slider-content .small {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
}

.yellow_button {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    font-size: 24px;
    padding: 0.5em 1em;
    border: 0.5px solid lightgrey;
    border-radius: 2em;
    background: transparent;
    box-shadow: 5px 10px 30px 0 darkgray;
}

.yellow_button:hover {
    background-color: yellow;
    border-color: yellow;
    cursor: pointer;
}

.services {
    margin: 5% 20%;
    display: flex;
    justify-content: space-around;
}

.services div {
    text-align: center;
    font-family: Montserrat, sans-serif;
}
.services h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
}
.services p {
    font: lighter 16px/20px Montserrat, sans-serif ;
}

.services a {
    text-decoration: none;
    color: black;
}

.services img {
    border: 3.5px solid #4ea8de;
    border-radius: 50%;
    padding: 65px;
}


