body {
    font: 18px/1px Montserrat, sans-serif;
    padding: 0;
    margin: 0;
}

/* Global */
.container {
    max-width: 1102px;
    margin: 0 auto;
    overflow: hidden;
}

.button--main {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 48px;
    padding: 0 35px;
    border: 0.5px solid #123751;
    border-radius: 2em;
    background: transparent;
    box-shadow: 2px 2px 3px 0 lightgrey;
    transition: 0.5s;
}

.button--main:hover {
    background-color: #fbe020;
    border-color: #fbe020;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

/* Header*/
header {
    background: #01182a;
    color: #ffffff;
    height: 98px;
    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 1px 20px;
}

header #logo {
    float: left;
    margin-top: 25px;
    padding-left: 5px;
}

header nav {
    float: right;
    margin-top: 45px;
}

header a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fbe020;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

header a:hover {
    color: #fbe020;
}

header a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

/* Showcase */

#showcase {
    background-image: url(img/Slider1.jpg);
    height: 800px;
    text-align: left;
    margin-top: 98px
}

#showcase div {
    padding-left: 2em;
    padding-top: 12em;
    overflow: visible;
}

#showcase h1 {
    margin: 30px 0 40px 0;
    padding-bottom: 20px;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4ea8de;
}

#showcase hr {
    width: 11em;
    margin-left: 0;
    height: 3px;
    background-color: black;
}

#showcase p {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 24px;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
}

/* Boxes */

#boxes div {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    overflow: visible;
}

#boxes .box {
    display: block;
    text-align: center;
    width: 33%;
}

#boxes .box img {
    border: 3.5px solid #4ea8de;
    border-radius: 50%;
    padding: 45px;
}

#boxes .box h3 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
}

#boxes .box p {
    font: lighter 14px/20px Montserrat, sans-serif;
    max-width: 17rem;
    margin: 1rem auto;
}

/*Lists*/
#lists {
    margin-top: 60px;
    height: 380px;
    width: 100%;
    background: url(img/services_technologies.png);
    background-size: contain;

}

#lists .container {
    display: flex;
    justify-content: space-between;
    overflow: visible;
}

.list {
    color: white;
    margin-left: 10px;
    width: 50%;
}

.list h1 {
    font: 900 50px/60px Montserrat, sans-serif;
    text-transform: uppercase;
}

.list ul {
    padding: 0;
    margin: 0 0 0 15px;
}

.list li {
    font: 900 18px/20px Montserrat, sans-serif;
    padding-bottom: 30px;
    float: left;
    width: 50%;
}

.list button {
    font: 100 24px/24px Montserrat, sans-serif;
    padding: 0.3em 1em;
    color: white;
    border: 0.5px solid white;
    border-radius: 2em;
    background: transparent;
    transition: 0.5s;
}

.list button:hover {
    background-color: #fbe020;
    border-color: #fbe020;
    cursor: pointer;
    color: black;
}

/* Grid Table */
#customers {
    font: bolder 60px/60px Montserrat, sans-serif;
}

#grid .container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-column-gap: 0px;
}

.grid__box {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 135px;
    height: 135px;
    padding: 5px;
}

.grid__box img {
    width: 100%;
    height: auto;
}





















